# Keto Macro Calculator gitignore
*.code-workspace
.vscode/
.idea/
node.modules/
package-lock.json
*.zip
*.map
wp-config.php
debug.log
.env
.env.local
.hintrc
package.json
terser.config.json
postcss.config.js
/.vscode/
/.wordpress-org/
/vendor/
/node_modules/
/composer.lock
/package-lock.json
*.log
*.zip
.DS_Store
